<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-centered">
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <!-- Icon -->
                <i class="glyphicon glyphicon-lock"></i>&nbsp;
                <strong>Login</strong>
            </div>
    		
            <div class="panel-body">          
                <form action="/login.php" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input name="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>   
                    <br>
                    <div class="input-group pull-right">
                        <input type="submit" class="btn btn-primary" name="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>