<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-centered">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <!-- Icon -->
                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;
                <strong>Important Tasks</strong>
            </div>
                <table class="table" ng-controller="taskController">
                	
                	<task-listing></task-listing>
                	
                </table>
        </div> 
    </div>
</div>       