<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-centered">
        <div class="panel panel-default">
            <div class="panel-heading">
                
                <!-- Icon -->
                <i class="glyphicon glyphicon-list"></i>&nbsp;
                <strong>Tasks for</strong>
                
                <!-- Date Range Picker Module -->
                <date-pick ng-include="'/templates/elements/datepick.html'"></date-pick>
    
            </div>
    
            <div class="panel-body">
                Panel Content
            </div>
        </div>
    </div>
</div>